
*{
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background: cyan;
}



.search{
    margin-left: 24rem;
    margin-top: 5rem;
    display: flex;
    border: none;

}
.search input{
    width: 28rem;
    height: 30px;
    border-radius: 10px;
    border: none;
    text-align: center;
    margin-top: 6px;
    margin-left: 1rem;
    border-style: hidden;
    font-weight: bold;
    font-size: medium;
}
.search input:focus{
    outline: none;
    border: none; 
    font-weight: bold;
    font-size: large;
}

.search button{
    height: 33px;
    width: 33px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    margin-left: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}
.search button:hover{
    background-color: rgb(196, 242, 248);
    cursor: pointer;
}

.temp{
    justify-content: center;
    margin-left: 24rem;
    margin-top: 15px;
}
.temp img{
    cursor: pointer;
    margin-left: 9rem;
}
.temp img:hover{
    filter: contrast(200%);
}
.tempo{
    align-items: center;
    justify-items: center;
    margin-right: 62vh;
}

.cc{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    /* justify-content: center; */
    justify-items: center;
    align-items: center;
}
.cc h2{
    padding: 15px;
}
.cc h3{
    margin-left: -7px;
    font-size:x-large;
}


.details{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    width: 65%;
    height: 80vh;
    overflow: auto;
    flex-direction: row;
    margin-left: 14rem;

}
.details div {
    width: 150px;
    height: 150px;
    margin-left: 10px;
    background-color: #209CEEEE;
    border-radius: 50px;
    align-content: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 5vh;
}
.details div:hover{
    background-color: #52b6f8ee;
}

#detail1 img{
    height: 40px;
    width: 40px;
}
#detail1 h3{
    margin-top: 2px;
}
#detail1 h4{
    margin-top: 4px;
}

#detail2 img{
    height: 100px;
    width: 120px;
    margin-top: -40px;
    margin-left: 30px;
    margin-bottom: none;
}
#detail2 h3{
    margin-top: 4px;
    margin-left: 50px;
}
#detail2 h4{
    margin-top: -25px;
    margin-left: 58px;
}
#detail3 img{
    height: 80px;
    width: 80px;
    margin-top: -25px;
    margin-left: 45px;
    margin-bottom: none;
}
#detail3 h3{
    margin-top: 2px;
    margin-left: 35px;
}
#detail3 h4{
    margin-top: -7px;
    margin-left: 73px;
}
   

#detail1{
    justify-content: center;
    justify-items: center;
    text-align: center;
}

header img{
    margin-left: 60px; 
    margin-top: 8px;
}

.details {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px;
}
#detail1{
    flex-grow: 1;
    flex-basis: 150;
    justify-content: center;
    text-align: center;
}
#detail2{
    flex-grow: 1;
    flex-basis: 150;

}
#detail3{
    flex-grow: 1;
    flex-basis: 150;

}

footer{
    background-color: #209CEEEE;
    justify-content: center;
    align-items: center;
    height: 7rem;
    width: 100%;
    
}


footer p{
    margin-right: 350px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    cursor: pointer;

    
}
footer ul{
    display: flex;
}
footer ul li{
    padding: 0 15px;
    list-style: none;
}

.error{
    margin-left: 25.5rem;
    margin-top: 5px;
    display: none;
}