
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background: cyan;
}



/* .card{
    background: #024c57;
    width: 90%;
    max-width: 470px;
    margin: 150px auto 0;
} */


.search{
    margin-left: 24rem;
    margin-top: 5rem;
    display: flex;
    border: none;

}
.search input{
    width: 28rem;
    height: 25px;
    border-radius: 10px;
    border: none;
    text-align: center;
    margin-top: 6px;
    margin-left: 1rem;
    
}
.search button{
    height: 30px;
    width: 30px;
    border-radius: 20px;
    border: none;
    margin-left: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.temp{
    justify-content: center;
    margin-left: 24rem;
    margin-top: 15px;
}
.temp img{
    cursor: pointer;
    margin-left: 9rem;
}
.tempo{
    margin-left: 14rem;
}


.details{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    width: 65%;
    /* background-color: #209CEEEE; */
    height: 80vh;
    overflow: auto;
    flex-direction: row;
    margin-left: 14rem;
    /* margin-right: 10px; */

}
.details div {
    width: 150px;
    height: 150px;
    /* margin: 6px; */
    margin-left: 10px;
    background-color: #209CEEEE;
    border-radius: 50px;
    /* border-radius: 100% 0% 100% 0% / 30% 69% 31% 70%  ; */
    align-content: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 5vh;
    /* justify-content: space-evenly; */
}
/* #detail1{
    margin-left: 50px;
} */
#detail1 img{
    height: 40px;
    width: 40px;
}
#detail1 h3{
    margin-top: 15px;
}
/* #detail2{
    margin-left: 50px;
}
#detail3{
    margin-left: 50px;
} */
#detail2 img{
    height: 100px;
    width: 120px;
    margin-top: -30px;
    margin-left: 30px;
    margin-bottom: none;
}
#detail2 h3{
    margin-top: -14px;
    margin-left: 50px;
}
#detail3 img{
    height: 80px;
    width: 80px;
    margin-top: -25px;
    margin-left: 45px;
    margin-bottom: none;
}
#detail3 h3{
    margin-top: 3px;
    margin-left: 30px;
}
   

#detail1{
    justify-content: center;
    justify-items: center;
    text-align: center;
}

header img{
    margin-left: 60px; 
    margin-top: 8px;
}

.details {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px;
}
#detail1{
    flex-grow: 1;
    flex-basis: 150;
    justify-content: center;
    text-align: center;
}
#detail2{
    flex-grow: 1;
    flex-basis: 150;

}
#detail3{
    flex-grow: 1;
    flex-basis: 150;

}

footer{
    background-color: #209CEEEE;
    justify-content: center;
    align-items: center;
    height: 7rem;
    width: 100%;
    
}


footer p{
    margin-right: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    cursor: pointer;
    
}
footer ul{
    display: flex;
}
footer ul li{
    padding: 0 15px;
    list-style: none;
}
