

  @media (max-width: 480px) {
    *{
        margin: 0;
        padding: 0;
    }
    
    header img{
        width: 30px;
        height: 30px;
        margin-left: 20px;
        margin-top: 15px;
    }
    .search{
        margin-left: 63px;
    }
    .search input{
        width: 250px;
        height: 2rem;
        margin-left: 4px;
    }
    .search button{
        height: 35px;
        width: 35px;
        margin-top: 5px;
        border-radius: 100px;
    }
    .temp{
        margin-left: 50px;
    }
    .temp img{
        width: 16rem;
    }
    
    .tempo{
        margin-right: 55px;
    }
    .cc{
        display: flex;
    }
    
    
    
    .details {
      margin-left: 28px;
      display: flex;
      gap: 10px;
      flex-direction: column;
      margin-top: 40px;
    }
    .details div{
        justify-content: center;
        text-align: center;
        height: 5rem;
        width: 8rem;
        border-radius: 40px;
        margin-left: 70px;
        margin-top: 2px ;
        font-weight: 500;
        /* margin-bottom: 10px; */
    }
    .details div img{
        height: 35px;
    }
    .details div h4{
        height: 20px;
        font-size: small;
        margin-top: 4px;
    }
    #detail2 img{
        height: 100px;
        width: 100px;
        margin-left: 10px;
    }
    #detail2 h3{
        margin-left: 1px;
    }
    #detail2 h4{
        margin-left: 1px;
    }
    #detail3 img{
        height: 60px;
        width: 60px;
        margin-left: 10px;
    }
    #detail3 h3{
        margin-left: 1px;
    }
    #detail3 h4{
        margin-left: 1px;
    }
    footer p{
        margin-right: 30px;
    }
    footer ul{
        display: flex;
    }
    footer ul li{
        padding: 0 12px;
        list-style: none;
    }
    footer{
        margin-top: 10px;
    }
    .error{
        margin-left: 4.5rem;
    }
  }

  @media (max-width: 760px){
        .details{
            padding: 10px 10px;
        }
        .temp{
            margin-bottom: -20px;
        }
  }

  @media (min-width: 760px) and (max-width: 1024px){
    .search{
        margin-left: 16vh;
    }
    .search input{
        width: 40vh;
    }
    .temp{
        margin-left: 17rem;
        margin-top: 90px;
    }
    .tempo h2{
        margin-left: -5px;
    }
    .tempo h3{
        margin-left: 20px;
    }
    .cc{
        margin-left: -40px;
    }
    .cc h2{
        padding: 15px;
    }
    .cc h3{
        margin-left: -7px;
        font-size:x-large;
    }
    .details{
        margin-left: 9rem;
        margin-top: 5px;
    }
    .details div{
        justify-content: center;
        text-align: center;
        font-weight: 500;
        /* padding: 50px; */
    }
    #detail1{
        padding: 20px 20px;
        margin-bottom: 20px;
    }
    #detail2 img{
        margin-left: 10px;
    }
    #detail2 h3{
        margin-left: 10px;
    }
    #detail2 h4{
        margin-left: 10px;
    }
    #detail3 img{
        margin-left: 10px;
    }
    #detail3 h3{
        margin-left: 10px;
    }
    #detail3 h4{
        margin-left: 10px;
    }
    .error{
        margin-left: 15.5rem;
    }
    
  }

  
  @media (min-width: 420px) and (max-width: 940px){
    .search{
        margin-left: 85px;
    }
    .temp{
        margin-left: 8vh;
    }
    .details{
        margin-left: 5vh;
    }
    #detail2 img{
        margin-left: 8px;
    }
    #detail3 img{
        margin-left: 8px;
    }
    .error{
        margin-left: 12rem;
    }
  }

  

@media (max-width: 850px){
    .temp img{
        margin-left: 13px;
    }
}